.signup-form {
  max-width: 360px;
  margin: 60px auto;
  padding: 20px;
}
.signup-form label {
  display: block;
  margin: 30px auto;
}
.signup-form span {
  display: block;
  margin-bottom: 6px;
}
.signup-form input {
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
  width: 100%;
}
.error {
  color: rgb(223, 0, 0);
  background: rgba(255, 111, 111, 0.479);
  padding: 15px 10px;
  border: 2px solid rgb(189, 0, 0);
  border-radius: 6px;
  margin-top: 20px;
  width: 100%;
}